<div id="header" >
	<div class="container">
	  <div class="row">
	    <div class="col-sm">
	      <span id="header-content">ぽーたる</span>
	    </div>
	  </div>
	</div>
</div>


<div>
	<div id="content" class="container">
	  <div id="content-header" class="row">
	    <div class="col-sm">
	      <span id="header-content">男の勝負をはじめよう。</span>
	    </div>
	  </div>
	  <div id="content-content" class="row">
	    <div class="content-part col-sm">
        One of three columns
      </div>
      <div class="content-part col-sm">
        One of three columns
      </div>
      <div class="content-part col-sm">
        One of three columns
      </div>
	  </div>
	</div>
</div>

